pydantic == 2.11.3
starlette == 0.46.2
uvicorn == 0.34.2
fastapi[standard] ==0.115.12
python-multipart == 0.0.20
python-dotenv == 1.1.0
pydantic-settings == 2.9.1
aiofiles == 24.1.0
langchain == 0.3.25
langchain_community ==0.3.25
PyMuPDF == 1.25.5
motor == 3.7.0
openai == 1.82.0
cohere == 5.15.0
qdrant-client ==1.14.2
SQLAlchemy == 2.0.41
asyncpg == 0.30.0
alembic == 1.16.1
psycopg2 == 2.9.10
pgvector == 0.4.1
nltk == 3.9.1


# Monitoring and Metrics
prometheus-client == 0.22.1
starlette-exporter == 0.23.0
fastapi-health == 0.4.0